$primary:rgb(43, 222, 253);
$secondary:rgb(43, 253, 190);
$danger:rgb(219, 25, 43);

$background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgb(38, 38, 42);

$white: rgb(255, 255, 255);
$black-70: rgb(38, 38, 42);
$black-50: rgb(44, 44, 50);

